.icon li{
	display : inline-block ;
	list-style-type : none;
	padding : 15px ;
}
.footer{
	padding-top : 60px ;
	padding-bottom : 60px ;
	color : #b2b2b2 ;
}
.jumbotron{
	background-image : url('../imge/img1.jpg');
	padding-top : 200px ;
	padding-bottom : 200px !important ;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron li{
	background-color : #646464 ;
	color : white ;
}
.title{
	background-color : #1abc9c ;
	color : white ;
	padding-top : 30px ;
	padding-bottom : 30px ;
}